.main-container {
	background: $blue-100;

	.introduction {
		margin: 0;
		padding: 50px 50px 150px 50px;

		h1 {
			margin-top: 10vh;
			text-align: center;
		}

		h2 {
			text-align: center;
		}
	}

	.aboutMe {
		background: $blue-600;
		color: $blue-100;
		padding: 50px;
		text-align: justify;
		margin-left: 0;
	}

	.proyectos {
		padding: 50px;
		text-align: center;

		h2 {
			margin: 100px 0 60px 0;
		}

		.card-group {

			.card {
				background: $blue-600;
				color: $blue-100;
				margin: 20px;

				&:hover {
					box-shadow: 0 0 16px $blue-600;
				}

				img {
					padding: 5px;
				}

				.btn {
					background: $blue-400;
					color: $blue-100;

					&:hover {
						box-shadow: 0 0 8px $blue-100;
					}
					&:active {
						opacity: .8;
					}
				}
			}
		}
	}

	.experience {
		background: $blue-600;
		color: $blue-100;
		padding: 50px;
		text-align: right;
		margin-right: 0;

		h2 {
			margin: 30px 30px 60px 30px;
		}

		.accordion {
			
			.accordion-item {
				background: $blue-100;

				.accordion-button {
					background: $blue-100;
				}
			}
		}
	}

	.education {
		padding: 50px;
		text-align: justify;
	}
}

