.language {
	background: $blue-600;
	color: $blue-100;
	padding: 50px;
	text-align: justify;
	margin: 0 0 100px 0;

	h2 {
		margin-bottom: 50px;
	}

	.card-group {
		display: flex;
		flex-wrap: wrap;

		.card {
			background: $blue-800;
			color: $blue-100;
			margin: 20px;
			border-radius: 30px;
			text-align: center;
			border: none;
			font-size: .8em;

			img {
				margin: 20px auto;
				border-radius: 10px;
				background: none;
				max-width: 150px;
			}

			.card-body {
				margin-bottom: 20px;
			}
		}
	}
}