.footer {
	padding: 50px 0 50px 0;
	background: $blue-600;
	display: flex;
	justify-content: space-evenly;

	i {
		color: $blue-100;
		font-size: 3em;

		&:hover {
			text-shadow: 0 0 3px $blue-100;
		}
	}
}