.navbar {
	position: sticky;
	background: $blue-600;
	border-bottom: 1px solid $blue-100;

	.bi-house {
		font-size: 1.5em;
		color: $blue-100;
		margin-left: 10px;

		&:hover {
			text-shadow: 0 0 3px $blue-100;
		}
	}

	.navbar-toggler {

		&:hover {
			box-shadow: 0 0 3px $blue-100;
		}

		.bi-list {
			font-size: 1.5em;
			color: $blue-100;	
		}
	}

	.offcanvas-header {
		flex-direction: row-reverse;
	}

	.offcanvas-body {

		.nav-link {
			font-size: 1.3em;
			margin: 5px 0;

			&:hover {
				text-shadow: 0 0 2px $blue-200;
			}
		}

		.bi {
			margin: 0 12px 0 0;
			font-size: 1em;
		}
	}
}

